@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@font-face {  font-family: 'Montserrat-Black';src: url("../fonts/Montserrat-Black.ttf");}
@font-face { font-family: 'Montserrat-BlackItalic';src: url("../fonts/Montserrat-BlackItalic.ttf");}
@font-face { font-family: 'Montserrat-Bold';src: url("../fonts/Montserrat-Bold.ttf");}
@font-face { font-family: 'Montserrat-BoldItalic';src: url("../fonts/Montserrat-BoldItalic.ttf");}
@font-face { font-family: 'Montserrat-ExtraBold';src: url("../fonts/Montserrat-ExtraBold.ttf");}
@font-face { font-family: 'Montserrat-ExtraBoldItalic';src: url("../fonts/Montserrat-ExtraBoldItalic.ttf");}
@font-face { font-family: 'Montserrat-ExtraLight';src: url("../fonts/Montserrat-ExtraLight.ttf");}
@font-face { font-family: 'Montserrat-ExtraLightItalic';src: url("../fonts/Montserrat-ExtraLightItalic.ttf");}
@font-face { font-family: 'Montserrat-Italic';src: url("../fonts/Montserrat-Italic.ttf");}
@font-face { font-family: 'Montserrat-Light';src: url("../fonts/Montserrat-Light.ttf");}
@font-face { font-family: 'Montserrat-LightItalic';src: url("../fonts/Montserrat-LightItalic.ttf");}
@font-face { font-family: 'Montserrat-Medium';src: url("../fonts/Montserrat-Medium.ttf");}
@font-face { font-family: 'Montserrat-MediumItalic';src: url("../fonts/Montserrat-MediumItalic.ttf");}
@font-face { font-family: 'Montserrat-Regular';src: url("../fonts/Montserrat-Regular.ttf");}
@font-face { font-family: 'Montserrat-SemiBold';src: url("../fonts/Montserrat-SemiBold.ttf");}
@font-face { font-family: 'Montserrat-SemiBoldItalic';src: url("../fonts/Montserrat-SemiBoldItalic.ttf");}
@font-face { font-family: 'Montserrat-Thin';src: url("../fonts/Montserrat-Thin.ttf");}
@font-face { font-family: 'Montserrat-ThinItalic';src: url("../fonts/Montserrat-ThinItalic.ttf");}

body {
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
}

.main {
    padding-top: 20px ;
    height: 100vh;
    padding-bottom: 100px;
}

.content {
    background-color: white;
    border: 1px solid #9d9d9d;
    height: 100%;
}

.content-title {
    text-align: center;
    padding: 40px 0 10px 0;
    font-size: 24px;
    color: #2c2c2c;
    font-family: Montserrat-Light;
}

.content-description {
    margin: 0 20px 0 20px;
    text-align: center;
    color: #5b5b5b;
    font-size: 14px;
    font-family: Montserrat-Regular;
}

#typeOfPhobiaText {
    text-transform: uppercase;
    font-family: Montserrat-Bold;
    color: #4b4b4b;
    font-size: 16px;
}
#whitelistDropdown {
    color: #626262;
}
.hideTab {
    display: none;
}

.sidebar {
    width: 60%;
}

.sidebar-logo {
    padding: 30px 20px 30px 20px;
    font-family: Montserrat-Bold;
}

.sidebar-navigation {
    width: 100%;
}

.sidebar-navigation .header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #727272;
    font-family: Montserrat-Light;
}


.sidebar-navigation li {
    padding: 20px 20px 20px 20px;
    list-style:none;
    background-color: #f3f3f3;
}

.sidebar-navigation .active {
    border-top: 1px solid #9d9d9d;
    border-bottom: 1px solid #9d9d9d;
    border-left: 1px solid #9d9d9d;
    border-right: 1px solid #ffffff;
    background-color: #ffffff;
}

.sidebar-navigation li a {
    text-decoration: none;
    color: black;
}